
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Top Down Heist</title>

</head>
<body>

    <ul id="messagesList">

    </ul>

    <input id="userInput" /><input id="messageInput" /><button id="sendButton">Send</button>

    <script src="~/js/game.bundle.js"></script>
</body>
</html>
